#app {
    font-family: sans-serif;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
  }

.overview{
 background-color:rgb(191, 191, 191);
}

.blureffect{
  background-color: rgba(255, 0, 0, 0.3);
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -ms-filter: blur(2px);
  -o-filter: blur(2px);
  filter: blur(2px);  
}

.heading{
  display:relative;
  font-size: 28px;
  font-weight: bold;
  color:blue;
  border-bottom: 10px;
  background-color:#fbec5d;
  border-top-width: 3px;
  border-bottom-width: 3px;
  border-top-color: #BBBBBB;
  border-bottom-color: #BBBBBB;
  border-top:solid;
  border-bottom:solid;
  text-align: center;
}


  