/* #timer {
  border: 2px solid gray;
  border-radius: 10px;
} */

.base-timer {
  position: relative;
  width: 300px;
  height: 300px;
  margin: auto;
}

.base-timer_svg {
  transform: scaleX(-1);
}

.base-timer_circle {
  fill: none;
  stroke: none;
}

.base-timer_path-elapsed {
  stroke-width: 5px;
  stroke: whitesmoke;
}

.base-timer_path-remaining {
  stroke-width: 5px;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer_path-remaining.purple {
  color: #8E49E8;
}

.base-timer_label {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}

.buttons {
  margin: 4px;
  display: flex;
  justify-content: center;
}

.timer-button {
  background-color: #8E49E8;
  border: 2px solid #8E49E8;
  border-radius: 3px;
  color: white;
  padding: 3px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px;
  cursor: pointer;
}

.timer-button:hover {
  background-color: white;
  color: #8E49E8;
}